// Font
$base-fz: 20px !default;
$primary-ff: "Roboto", sans-serif;
$secondary-ff: "Montserrat", sans-serif;

// Color
$no-clr: transparent;
$white-clr: #ffffff;
$black-clr: #000000;
$primary-clr: #9f5de6;
$secondary-clr: #514ea5;

// Media Queries
$break-1600: 1600px;
$break-1280: 1280px;
$break-1240: 1240px;
$break-1080: 1080px;
$break-1024: 1024px;
$break-991: 991px;
$break-850: 850px;
$break-767: 767px;
$break-576: 576px;
